[user]
	name = Moncef Belyamani
	email = giter@done
[color]
	ui = 1
[core]
	excludesfile = ~/.gitignore_global
	quotepath = false
	editor = subl -n -w
[credential]
	helper = osxkeychain
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[rebase]
	autosquash = true
